\:host
  display: grid
  grid-auto-flow: dense
  padding: 10px
  justify-content: center
  grid-gap: 15px


  &.xs
    width: 300px
    grid-template-columns: 280px

  &.s
    width: 590px
    grid-template-columns: repeat(2, 280px)

  &.m
    grid-template-columns: repeat(2, 400px)
    width: 800px

  &.l
    grid-template-columns: repeat(3, 335px)
    width: 1005px

    app-card-preview
      height: 526px


